# Created by .ignore support plugin (hsz.mobi)
### Java template

/.idea/
/Algorithms.iml
/Solid/Solid.iml
/Patterns/Patterns.iml
/Lafore/Lafore.iml
/LeetCode/LeetCode.iml
/CompleteCode/CompleteCode.iml
