<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:~/test</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!--Pretty prints the SQL-->
        <!--<property name="hibernate.format_sql">true</property>-->

        <!--<property name="use_sql_comments">true</property>-->

        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- create, update, validate, create-drop -->

        <!--Mapping-->
        <mapping class="com.linnyk.jpa.safari.entities.User"/>
        <mapping class="com.linnyk.jpa.safari.entities.generation_type.UserGTTable"/>
        <mapping class="com.linnyk.jpa.safari.entities.generation_type.UserGTSequence"/>
        <mapping class="com.linnyk.jpa.safari.entities.generation_type.UserGTIdentity"/>
        <mapping class="com.linnyk.jpa.safari.entities.generation_type.UserGTAuto"/>
        <mapping class="com.linnyk.jpa.safari.entities.generation_type.UserNoGT"/>
        <mapping class="com.linnyk.jpa.safari.entities.TimeTest"/>
        <mapping class="com.linnyk.jpa.safari.entities.embedded.Bank"/>
        <mapping class="com.linnyk.jpa.safari.entities.association.Credential"/>
        <mapping class="com.linnyk.jpa.safari.entities.Account"/>
        <mapping class="com.linnyk.jpa.safari.entities.association.Transaction"/>
        <mapping class="com.linnyk.jpa.safari.entities.join_table.Budget"/>
        <mapping class="com.linnyk.jpa.safari.entities.view.UserCredentialView"/>

        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._1.BankAccount1"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._1.BillingDetails1"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._1.CreditCard1"/>

        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._2.BankAccount2"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._2.BillingDetails2"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._2.CreditCard2"/>

        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._3.BankAccount3"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._3.BillingDetails3"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._3.CreditCard3"/>

        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._4.BankAccount4"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._4.BillingDetails4"/>
        <mapping class="com.linnyk.jpa.safari.entities.inheritance_2._4.CreditCard4"/>

        <mapping class="com.linnyk.jpa.certification.entities.dirty_checking.Site"/>
        <mapping class="com.linnyk.jpa.certification.entities.dirty_checking.Page"/>

    </session-factory>
</hibernate-configuration>